################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Sistema - Cópia - Cópia/packages/Antlr.3.5.0.2/lib
